@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,600,800&display=swap");


html {
    scroll-behavior: smooth;
  }

  

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;

}


p{
    font-family: 'Lato',sans-serif;

}
nav {
    font-family: 'Poppins',sans-serif;
    display: block;
    text-align: center;
    margin: auto;
    padding: 10px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.subtitle{
    font-size: 1.4em;
    font-weight: 800;
    margin-top: 8px;
    margin-left: 4px;
    text-transform: capitalize;
}

.content{
    padding-top: 2px;
    margin-top: 1px;
    font-weight: 400;
    text-align: justify;
}


/* <---- Brewdog Beers Page Styling ----> */

.navbar-brand{
    font-family: 'Poppins';
    color: #fff;
    font-size: 32px;
    font-weight:800;
   
}

.jumbotron{
    
    background-image:url('//images.ctfassets.net/b0qgo9rl751g/dyiZ0sZk4zuyvdj1Z4AKY/8cb20d1d0e8198c73fc2c329806b383b/hero-homepage.jpg');
    background-size: cover;
    background-position: center;
    backdrop-filter: opacity(50%);
    color: #fafafa;
    text-align: center;
    z-index: 2;

}

.btn-lg {
    margin-bottom: 1.2em;
}

/*--- Sierra Nevada Jumbotron ---*/
.jumbotron.sierra{
    
    background-image:url("../img/nevada/1.0-Homebrewed-Recipe.jpg");
    background-size: cover;
    background-position: center;
    backdrop-filter: opacity(80%);
    color: #fafafa;
    text-align: center;
    z-index: 2;

}

.jumbo-title{
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    font-weight: 800;
    margin-top: 40px;
    text-transform: uppercase;
}

.jumbotron  .overlay{
    background-color: rgba(34, 116, 165,0.7);
    z-index: 1;
}

/*------------------------------- Card ---*/
.card {
    background-color: rgba(34, 116, 165,0.7);
    display: inline-flex;
    margin: 20px 0;
    z-index: -1;

}

.card-title {
    background-color: rgba(0, 0, 0);
    letter-spacing: 2px;
    padding-left: 4px;
    text-transform: uppercase;
    margin-bottom: 3px;
}
.beer-photo {
    max-width: 100%;
    height : auto;
    max-height: 300px;
    max-width: 100px;
    text-align: center;
    padding-top: 10px;
    margin:auto;
}
.card-body{
    color: #ffffff;
}
.card li{
    font-weight:600;
    background-color: rgba(255, 191, 0,0.8);
    color: #ffffff;
    letter-spacing: 2px;
}

em{
    background-color: #000;
    letter-spacing: 4px;
}

/*------------------------ Beer Menu-----*/

.beer-menu{
    padding-top: 20px;
    margin-top: 20px;
    z-index: 4;

}
.scrollable-menu {
    height: auto;
    max-height: 150px;
    background-color: blanchedalmond;
    overflow-x: hidden;
    z-index: 4;
}

/*---- Donation Container----*/
.crypto-donation, .donate-with-crypto, .kofi-donation {
    z-index: 1;
}

